@model Domain.Entities.NguyenLieu

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Thêm nguyên liệu mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="createForm" asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="TenNguyenLieu" class="control-label">Tên nguyên liệu</label>
                                <input asp-for="TenNguyenLieu" class="form-control" />
                                <span asp-validation-for="TenNguyenLieu" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="MaNguyenLieu" class="control-label">Mã nguyên liệu</label>
                                <input asp-for="MaNguyenLieu" class="form-control" />
                                <span asp-validation-for="MaNguyenLieu" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="LoaiNguyenLieuId" class="control-label">Loại nguyên liệu</label>
                                <select asp-for="LoaiNguyenLieuId" class="form-control" id="LoaiNguyenLieuId">
                                    <option value="">-- Chọn loại nguyên liệu --</option>
                                    @foreach (var loai in ViewBag.LoaiNguyenLieus)
                                    {
                                        <option value="@loai.Id">@loai.TenLoai</option>
                                    }
                                </select>
                                <span asp-validation-for="LoaiNguyenLieuId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="NhaCungCapId" class="control-label">Nhà cung cấp</label>
                                <select asp-for="NhaCungCapId" class="form-control" id="NhaCungCapId">
                                    <option value="">-- Chọn nhà cung cấp --</option>
                                    @foreach (var ncc in ViewBag.NhaCungCaps)
                                    {
                                        <option value="@ncc.Id">@ncc.TenNhaCungCap</option>
                                    }
                                </select>
                                <span asp-validation-for="NhaCungCapId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="GiaNhap" class="control-label">Giá nhập</label>
                                <div class="input-group">
                                    <input asp-for="GiaNhap" class="form-control" type="text" id="GiaNhapInput" value="0" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">VNĐ</span>
                                    </div>
                                </div>
                                <span asp-validation-for="GiaNhap" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="SoLuongTon" class="control-label">Số lượng tồn</label>
                                <input asp-for="SoLuongTon" class="form-control" type="number" value="0" />
                                <span asp-validation-for="SoLuongTon" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="DonViTinh" class="control-label">Đơn vị tính</label>
                                <input asp-for="DonViTinh" class="form-control" />
                                <span asp-validation-for="DonViTinh" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ChatLieu" class="control-label">Chất liệu</label>
                                <input asp-for="ChatLieu" class="form-control" />
                                <span asp-validation-for="ChatLieu" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="MauSac" class="control-label">Màu sắc</label>
                                <div class="input-group">
                                    <input asp-for="MauSac" class="form-control" type="text" id="MauSacInput" placeholder="Nhập màu hoặc chọn từ bảng màu" />
                                    <div class="input-group-append">
                                        <input type="color" id="ColorPicker" class="form-control" style="width: 50px; height: 38px; padding: 0; border: none;" />
                                    </div>
                                </div>
                                <div class="dropdown mt-2">
                                    <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                        Chọn Pattern
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item color-pattern" href="#" data-pattern="checkered-black-white">Caro đen trắng</a>
                                        <a class="dropdown-item color-pattern" href="#" data-pattern="checkered-red-white">Caro đỏ trắng</a>
                                        <a class="dropdown-item color-pattern" href="#" data-pattern="checkered-blue-white">Caro xanh trắng</a>
                                        <a class="dropdown-item color-pattern" href="#" data-pattern="stripe-black-white">Sọc đen trắng</a>
                                        <a class="dropdown-item color-pattern" href="#" data-pattern="stripe-red-white">Sọc đỏ trắng</a>
                                        <a class="dropdown-item color-pattern" href="#" data-pattern="stripe-blue-white">Sọc xanh trắng</a>
                                    </div>
                                </div>
                                <span asp-validation-for="MauSac" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="HinhAnh" class="control-label">Hình ảnh</label>
                                <input type="file" name="HinhAnh" id="HinhAnhInput" class="form-control-file" accept="image/*" />
                                <div id="imagePreview" class="mt-2" style="display: none;">
                                    <img id="previewImg" src="" alt="Preview" class="img-thumbnail" style="max-width: 200px; max-height: 200px;" />
                                </div>
                                <span asp-validation-for="HinhAnh" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="MoTa" class="control-label">Mô tả</label>
                                <textarea asp-for="MoTa" class="form-control" rows="3"></textarea>
                                <span asp-validation-for="MoTa" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input asp-for="TrangThai" type="checkbox" class="custom-control-input" id="TrangThaiSwitch" checked>
                            <label class="custom-control-label" for="TrangThaiSwitch">Trạng thái hoạt động</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div> 